// BLACK & WHITE:
$color-black: #000000 !default;
$color-white: #ffffff !default;
$color-grey: grey !default;

// DEFAULT SKIN:
$color-primary: #6f5be8 !default;
$color-secondary: #a894f5 !default;
$color-text: #33323e !default;

// CORRECT & INCORRECT:
$color-true: #1f8926;
$color-false: #cc3232;

.color-true,
[color-true] {
	color: $color-true !important;
}

.color-false,
[color-false] {
	color: $color-false !important;
}
