// Font weights (Coke's transference):
$font-light: $coke-font-light !default;
$font-regular: $coke-font-regular !default;
$font-semi-bold: $coke-font-semi-bold !default;
$font-bold: $coke-font-bold !default;

$font-fallback: sans-serif !default;

$font-primary: 'Inter' !default;

$font-url: '/fonts';

@font-face {
	font-family: $font-primary;
	src: url('#{$font-url}/Inter-Regular.woff2') format('woff2'),
		url('#{$font-url}/Inter-Regular.woff') format('woff');
}

[font-primary],
.font-primary {
	font-family: $font-primary, $font-fallback;
}

@mixin font-primary {
	font-family: $font-primary, $font-fallback;
}

@function font-primary() {
	@return $font-primary, $font-fallback;
}
