// (1)
$gutter: $coke-gutter;
$breakpoints: $coke-breakpoints;
$font-size: $coke-font-size;

// (2)
:root {
	--border-main: 12px;
}

$height-input: $gutter-3;

// 1: Transference Coke -> Starr variables.
// 2: Starr variables.
