.features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	text-align: left;
	margin-bottom: $gutter-3;
	padding: 0;

	&__item {
		display: flex;
		align-items: center;
		padding: $gutter-1-2 0;
		font-size: $font-size-l;
		font-weight: $font-medium;

		& > span {
			@include flex(flex, center, center);
			$size: 4rem;
			@include size($size);
			@include share(min-width, min-height, $size);
			margin-right: $gutter;
			padding: 0.7rem;
			text-align: center;
			background-color: $color-white;
			border-radius: 6px;
		}

		img {
			width: 100%;
		}
	}
}
