.footer {
	@include absolute(bottom right var(--border-main));
	padding: $gutter;
	color: #8c8a9e;
	font-size: $font-size-s;
	font-weight: $font-medium;

	@include media('>=big-desktop') {
		display: block;
		text-align: right;
	}
}
