.features {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	text-align: left;

	li {
		padding: $gutter;
		font-size: $font-size-l;
	}
}

.btn {
	width: 200px;
	height: 56px;
	color: $color-white;
	background: linear-gradient(135deg, #A894F5 0%, #6F5BE8 100%);
	border-radius: 4px;
	box-shadow: 0 4px 12px 0 rgba(165,145,245,0.59);
}

.subscribe {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: $gutter-2;
	margin-bottom: $gutter-2;

	input {
		width: 78%;
		height: 48px;
		padding: $gutter;
		background-color: $color-white;
		border: 2px solid $color-primary;
		box-shadow: 0 4px 12px 0 rgba(165, 145, 245, 0.2);
		border-radius: 4px;
	}

	.btn {
		@include absolute(right);
		width: 32%;
	}
}
