@mixin input {
	width: 100%;
	height: $height-input;
	background-color: $color-white;
	border: 2px solid $color-primary;
	box-shadow: 0 4px 12px 0 rgba(165, 145, 245, 0.2);
	border-radius: 4px;
}

input[type='email']:not(textarea) {
	@include input;
}

.input--hidden {
	width: 0;
	height: 0;
	visibility: hidden;
	padding: 0;
	border-width: 0;
}
