.navigation {
	@include absolute(top $gutter-2 right $border-main);
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	a {
		padding: $gutter-1-2 $gutter;
		font-weight: $font-bold;
		text-decoration: none;
		color: $color-text;
	}
}
