.navigation {
	@include absolute(top var(--border-main) right var(--border-main));
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: $gutter;

	a {
		padding: $gutter-1-2 $gutter;
		font-weight: $font-bold;
		text-decoration: none;
		color: $color-text;
	}

	@include media('>tablet') {
		flex-direction: row;
		justify-content: flex-end;
	}
}
