.subscribe {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: $gutter-2;
	margin-bottom: $gutter-2;

	.btn {
		@include absolute(right);
		display: inline-block;
		display: flex;
		align-items: center;
		width: auto;
		height: calc(100% - 6px);
		margin-right: 4px;
		padding: 0 $gutter;
		color: $color-primary;
		background: white;
		border: none;
		box-shadow: none;

		img {
			width: 2rem;
		}
	}
}

.subscribe-popup {
	position: fixed;
	$offset: calc(var(--border-main) + #{$gutter}); 
	right: $offset;
	bottom: $offset;
	z-index: 1;
	width: 30rem;
	padding: $gutter-2;
	font-size: $font-size-l;
	background-color: $color-white;
	box-shadow: 0 4px 12px 2px rgba(165, 145, 245, 0.3);
	border-radius: 4px;

	&__close {
		@include absolute(top $gutter right $gutter);
		@include size($gutter-2);
		padding: $gutter;
		text-align: center;
	}

	&__image {
		@include absolute(top -3rem right 2rem);
		width: 3rem;
	}

	.subscribe {
		margin-bottom: 0;
	}

	@include media('<=tablet') {
		$offset: calc(var(--border-main) + #{$gutter-1-2}); 
		right: $offset;
		bottom: $offset;
		width: calc(100% - 2.5rem);
		padding: $gutter;
		font-size: $font-size-m;

		.subscribe {
			margin-top: 0;
		}
	}
}