.subscribe {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: $gutter-2;
	margin-bottom: $gutter-2;

	.btn {
		@include absolute(right);
		display: inline-block;
		display: flex;
		align-items: center;
		width: auto;
		height: calc(100% - 6px);
		margin-right: 4px;
		padding: 0 $gutter;
		color: $color-primary;
		background: white;
		border: none;
		box-shadow: none;

		img {
			width: 2rem;
		}
	}
}
