.home {
	position: relative;
	@include flex(flex, start, start);
	flex-direction: column;
	padding: $gutter-1-2;
	
	&__logo {
		width: 30vw;
		max-width: 300px;
	}

	&__form {
		margin-top: $gutter-2;
	}
}
