.form {
	width: 100%;
	margin-top: $gutter-2;
}

.intro-subscribe {
	display: flex;
	flex-direction: column;

	@include media('>desktop') {

		& > p {
			order: 2;
		}

		.subscribe {
			order: 1;
		}
	}
}
